@tailwind base;
@tailwind components;
@tailwind utilities;


/* Import fonts */

@font-face {
  font-family: 'Degunfa';
  src: url('/fonts/Degunfa.ttf');
}


@font-face {
  font-family: 'RIntjany';
  src: url('/fonts/RIntjany.ttf');
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* Hero CSS */


.font-hero-head {
  font-family: Degunfa, 'Courier New', Courier, monospace;
  line-height: 2rem;
  font-size: 40px;

}

.font-hero-description {
  font-family: RIntjany, 'Courier New', Courier, monospace;
}

/* News Card */

@font-face {
  font-family: 'Galebok';
  src: url('/fonts/Galebok.otf');
}

@font-face {
  font-family: 'youmurdererbb';
  src: url('/fonts/youmurdererbb.ttf');
}

@font-face {
  font-family: 'Dosis';
  src: url('/fonts/Dosis.ttf');
}

@font-face {
  font-family: 'Odin';
  src: url('/fonts/Odin.otf');
}

.font-date {
  font-family: youmurdererbb, 'Courier New', Courier, monospace;
}

.font-source {
  font-family: Galebok, 'Courier New', Courier, monospace;
}

.title-font {
  font-family: Dosis, 'Courier New', Courier, monospace;
  @apply text-xl;
}

.description-font {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow';
}

.type-font {
  font-family: Odin, 'Courier New', Courier, monospace;
}